<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category"><%= boat.city %></div>
  <div class="card-description">
    <h2><%= boat.name %></h2>
    <p><%= boat.boat_type %></p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
