<footer>
  <div class="wrapper-dark-grey footer flex-c-center">
    <div class="container">
      <div class="row">
        <div class="footer-content flex-c-center">
          <div class="col-xs-6 col-sm-4">
            <% icons = {
                youtube: { fa: 'fa-youtube', url: "#" },
                instagram: { fa: 'fa-instagram', url: "#" },
                facebook: { fa: 'fa-facebook', url: "#" },
                twitter: { fa: 'fa-twitter', url: "#" },
                github: { fa: 'fa-github', url: "#" }
              } %>
            <% icons.each do |k, v| %>
            <div class="col-xs-<%= 12 / icons.length %>">
              <%= link_to v[:url], target: "_blank" do %>
                <i class="footer-icon fa <%= v[:fa] %> fa-2x" aria-hidden="true"></i>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-sm-8">
            <div class="">
              <div class="hidden-sm col-md-6 credits">
              </div>
              <div class="col-xs-12 col-md-6 signature">
                <span>Sailnb @ LeWagon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
