<div class="media">
  <div class="media-body">
    <div class="media-section">
      <h2>Pictures</h2>
      ...
    </div>
    <div class="media-section">
      <h2>Description</h2>
      ...
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h2>Share</h2>
      ...
    </div>
    <div class="media-section">
      <h2>382 upvotes</h2>
      ...
    </div>
  </div>
</div>
