<div class="banner-container" class="img-responsive" style="background-image: url(<%= asset_path 'homepage15.jpg' %>) ">

  <div class="log-box">
    <form class= "dest-box" action="/boats">
      <p class="home-form-label text-center"></p>
      <input class="home-form-text text-center" type="text" name="destination" placeholder="Choisissez une ville"> <br>
      <br>
      <input type="submit" value="A l'abordage !" class= "home-form-button center-block btn btn-warning">
    </form>

  </div>

</div>
