<div id="my_carousel" class="carousel slide" data-ride="carousel">
  <!-- Bulles -->
  <ol class="carousel-indicators">
    <li data-target="#my_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#my_carousel" data-slide-to="1"></li>
    <li data-target="#my_carousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <!-- Page 1 -->
    <div class="item active">
      <div class="carousel-page">
        <%= image_tag "homepage15.jpg"%>
      </div>
    </div>
    <!-- Page 2 -->
    <div class="item">
      <%= image_tag "homepage14.jpg"%>
    </div>

    <!-- Page 3 -->
    <div class="item">
      <div class="carousel-page">
        <%= image_tag "homepage17.jpg" %>
      </div>
    </div>
    
  </div>
  <a class="left carousel-control" href="#my_carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#my_carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div class="log-box">
  <form class= "dest-box" action="boats">
    <p class="home-form-label text-center"></p>
    <input class="home-form-text text-center" type="text" name="destination" placeholder="Choisissez une ville"> <br>
    <br>
    <input type="submit" value="A l'abordage !" class= "home-form-button center-block btn btn-warning">
  </form>
</div>
