.boat-list {
  padding: 30px 30px;
}
.boat-header {
  padding-bottom: 30px;
}
.boat-title {
  margin-left: 20px;
}
.boat-info {
  // height: 100px;
  // margin: 0;
  // width: 600px;
}
.boat-info-icon {
  height: 65px;
  width: 65px;
}
.boat-content {
}
.boat-specs {
  table {
    margin: 0;
  }
  td > span {
    text-align: left;
    width: 100%
  }
  td > strong {
    text-align: right;
  }
}
.boat-spec {
  height: 70px;
}
.boat-equipment {
  .boat-spec-strike {
    font-weight: lighter;
    color: $gray-strikethrough;
  }
}
.boat-description-all {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.boat-description-all > * {
  margin: 20px;
}
.boat-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}
.boat-image {
  width: 100%;
  max-width: 800px;
}
.boat-name {
  font-size: 32px;
}
.boat-city {
  font-size: 24px;
  margin-left: 10px;
}
