.boat-slide-container {
  width: 40%;
  position: absolute;
  left: 6%;
  top: 30%;

}

#boat-info-row {
  position: absolute;
  top: 80%;
}

.boat-info {
  height: 800px;
}

#boat_picture {
  position: absolute;
  left: 10%;
}
