#banner_picture {
  width: 100%;
  height: 70%
}

.site-content {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
}

.banner-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url(images/banner_picture.png);
}

.log-box {
  width: 25%;
  min-width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.65);
  margin-right: 45%;
}

.text-box {
  font-family: Bariol;
  font-size: 40px;
  color: #D23333;
  max-width: 20%;
  text-align: center;
}

.map-container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;

}

.city-box {
  background-color: #DAE3EA;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bariol;
  font-size: 24px;
  line-height: 50px;
  margin-right: 4%;
}


.map-box {
  padding: 2%;
  width: 40%;
  height: 90%;
  margin-left: 8%;

}

.sample-boats-container {
  background-color: rgba(2,74,130, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.home-form-label {
  color:white;
  font-size: 20px;
}

.home-form-button {
  padding: 14px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
