#banner_picture {
}

.site-content {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  overflow: auto;
}

.banner-container {
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.log-box {
  width: 35%;
  min-width: 15%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.2);
  position: absolute;
  position: absolute;
  left: 32%;
  bottom: 30%;
  border-radius: 10px;
}

.home-form-text {
  font-size: 18px;
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text-box {
  font-family: Bariol;
  font-size: 40px;
  color: #D23333;
  max-width: 20%;
  text-align: center;
}

.map-container {

  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;

}

.city-box {
  background-color: #DAE3EA;
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Bariol;
  font-size: 24px;
  line-height: 50px;
  margin-right: 4%;
}


.map-box {
  padding: 2%;
  width: 40%;
  height: 90%;
  margin-left: 8%;

}

.sample-boats-container {
  background-color: rgba(2,74,130, 0.35);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.home-form-label {
  color:white;
  font-size: 20px;
}

.home-form-button {
  padding: 14px 40px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.carousel-page {
  background-color:#5f666d;
  color:white;
  position: relative;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  }

.carousel-page img{
  width:100%;
  height:100%;

  }

.item {
  max-height: 100vh;
}
