<div class="container">
  <div class="row">
    <% @boats.each do |boat| %>
      <div class="card">
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to boat_path(boat) do %>
            <%= render 'shared/boat_card', boat: boat %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
