
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1><%= @boat.name %></h1>
      </div>
      <div>
        <% if @boat.photos? %>
          <% @boat.photos.each do |photo| %>
            <%= cl_image_tag photo.path, width: 200, height: 300, crop: :fill %>
          <% end %>
        <% end %>
        <%= link_to "Index", boats_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
